body {
  font-size: 16px;
}

.container {
  background-color: white;
  min-width: 100%;
  padding: 0;
}

.navbarNavbar {
  overflow: hidden;
}

.main {
  background-color: silver;
  min-width: 100%;
  min-height: 140vh;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

.logo {
  color: crimson;
  font-size: 260px;
  margin-top: 50px;
  margin-left: 10px;
}
.logoText {
  color: crimson;
  font-size: 260px;
  font-weight: lighter;
  letter-spacing: -20px;
}

.navbarBrand {
  color: crimson !important;
  font-size: 20px !important;
}

.adminPageColumns {
  display: flex;
}

.crownImage > img {
  width: 1280px;
  max-width: 100%;
}

.viewBtn {
  margin-right: 0.5rem;
}

.fadeEnter {
  opacity: 0.01;
}

.fadeEnterAcive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadeExit {
  opacity: 1;
}

.fadeExitAcive {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.listGroupItem {
  border-width: medium;
  color: black;
  border-radius: 8px !important;
  border-color: darkgrey;
}

.allSprintColumns {
  display: flex;
}

.columnContainer {
  flex: 1;
}

.columnHeader {
  font-size: 20px;
  font-weight: bold;
}

.card {
  background-color: white;
  border: solid gray 2px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.cardDescription {
}

.pageHeader {
  margin-bottom: 20px;
}
