/* #0077B5 */
/* #5790db */
body {
  font-size: 16px;
}

.container {
  background-color: white;
  min-width: 100%;
  padding: 0;
}

.navbarCustom {
  background-color: #223a46 !important;
}

box {
  display: inline-block;
  width: 105px;
  border: 1px solid #0077b5;
  background-color: #0077b5;
  text-align: center;
  border-radius: 3px;
}

.customButtonDark {
  background-color: #0077b5 !important;
  margin-right: 0.5rem;
}
.customButtonDark:hover {
  background-color: #036497 !important;
}

.main {
  /* background-color: silver; */
  /* f0f3f7 */
  background-color: #ebebeb;
  min-width: 100%;
  min-height: 140vh;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

.logo {
  /* color: crimson; */
  color: #0077b5;
  font-size: 260px;
  margin-top: 50px;
  margin-left: 10px;
}
.logoText {
  /* color: crimson; */
  color: #0077b5;
  font-size: 260px;
  font-weight: lighter;
  letter-spacing: -20px;
}

.navbarBrand {
  /* color: crimson !important; */
  color: white !important;
  font-size: 20px !important;
}

.adminPageColumns {
  display: flex;
}

.crownImage > img {
  width: 1280px;
  max-width: 100%;
}

.viewBtn {
  margin-right: 0.5rem;
}

.fadeEnter {
  opacity: 0.01;
}

.fadeEnterAcive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadeExit {
  opacity: 1;
}

.fadeExitAcive {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.listGroupItem {
  /* border-width: medium;
  color: black;
  border-radius: 8px !important;
  border-color: darkgrey; */
  background-color: white;
  border: solid gray 2px;
  border-radius: 5px !important;
  padding: 10px;
  margin-bottom: 5px;
  /* page controls for mobile browsers */
  overflow-x: auto;
  max-width: 100%;
}

.allSprintColumns {
  display: flex;
}

.columnContainer {
  flex: 1;
}

.columnHeader {
  font-size: 20px;
  font-weight: bold;
}

.card {
  background-color: white;
  border: solid gray 2px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.cardDescription {
}

.pageHeader {
  margin-bottom: 20px;
}
